---
import DiscordIcon from '@/components/lucide-icons/DiscordIcon.astro';
import FacebookIcon from '@/components/lucide-icons/FacebookIcon.astro';
import GithubIcon from '@/components/lucide-icons/GithubIcon.astro';
import MailIcon from '@/components/lucide-icons/MailIcon.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex-grow flex items-center w-screen container px-4 xl:max-w-7xl mx-auto">
        <div>
            <h1 class="font-black text-4xl md:text-6xl md:mb-4">Võ Quang Vinh</h1>
            <p class="md:text-3xl text-slate-700">SE student at school, epic gamer at home</p>
            <!-- <div class="mt-4 md:mt-8 text-xl">
                <a href="#" class="p-2 inline-block">About me</a>
                <a href="#" class="p-2 inline-block">My works</a>
            </div> -->
            <div>
                <a href="mailto:hello@tinlite.com" class="p-2 inline-block">
                    <MailIcon />
                </a>
                <a href="https://www.facebook.com/quang.vinh.vo.566854/" class="p-2 inline-block">
                    <GithubIcon />
                </a>
                <a href="https://github.com/TinLite/" class="p-2 inline-block">
                    <FacebookIcon />
                </a>
                <a href="http://discord.com/users/284651448120115201" class="p-2 inline-block">
                    <DiscordIcon />
                </a>
            </div>
        </div>
    </div>
</Layout>
